body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#home {
    background: rgb(0, 0, 91);
    color: white;
    height: 200px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 0;
}

#team1 {
    text-align: center;
    display: block;
    border:rgb(0, 0, 91) solid 0 ;
    height: 100px;
    width: 50%;
    
}

#t1-score {
    height: 50px;
    width: 50px;
    background-color: black;
}

#team2 {
    text-align: center;
    display: block;
    border:rgb(0, 0, 91) solid 0 ;
    height: 100px;
    width: 50%;
    
}

.btns {
    background-color: rgb(118, 74, 190);
    width: 36px;
    height: 36px;
    padding: auto;
    border-radius: 4px;
    border: 2px dotted white;
}